
<header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>
<div class="panel panel-default items">
    <table class="table">
      <thead>
        <tr>
          <th>Jungle</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Products</th>
          <td>
            <%= link_to @product_count, admin_products_path %>
          </td>
        </tr>
        <tr>
          <th>Categories</th>
          <td>
            <%= @category_count %>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
